body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background: linear-gradient(#e7e7e7 40%, #89ce00 100%);
    line-height: 1.5;
    color: #000000;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #535353;
    color: #e7e7e7;
    padding-top: 1em;
    min-height: 5em;
    border-bottom: #000000 4px solid;
    top: 0;
    overflow: hidden;
    font-size: 120%;
}
#ash {
    font-family: "Ibarra Real Nova", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 170%;
    text-decoration-line: line-through;
}
header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 1em 0;
}
header ul {
    padding: 0;
    list-style: none;
}
header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    min-width: 44px; 
    min-height: 44px
}
header #branding {
    float: left;
}
header #branding h1 {
    margin: 0;
}
header nav {
    float: right;
    margin-top: 10px;
}
#profile div {
    display: grid;
    grid-template-columns: .5fr 2.5fr;
    grid-gap: 20px;
}
#headshot {
    grid-column: 1;
    display: inline-block;
    height: 30vh;
    width: auto;
    margin: auto;
    border-radius: 50%;
}
#profile div p {
    grid-column: 2;
    padding: 2em;
    width: 90%;
}
h2 {
    color: #000000;
}
h3 {
    color: #000000;
}
h4{
    font-weight: 400;
}
.section span {
    font-weight: lighter;
    font-size: 80%;
    float: right;
    padding-right: 3em;
}
p {
    padding: .5em 2em;
}
a {
    color: #4f5a5a;
    text-decoration: none;
}
.main {
    padding: 3em;
    background: #ffffff;
    width: 75%;
}
.section {
    margin-bottom: 3em;
}
.section1 h2 {
    border-bottom: 2px solid #000000;
    padding-bottom: 1em;
}
.section2 h2 {
    color: #b51963;
    border-bottom: 2px solid #e6308a;
    padding-bottom: 1em;
}
.section p {
    margin: 0;
}
footer {
    background-color: #ffffff;
    color: #000000;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
    padding: 1em;
    max-height: 4em;
    position: sticky;
    bottom: 0;
    overflow: hidden;
}
footer p {
    font-weight: 600;
    margin: 0 auto;
    padding: 0;
}
#email {
    grid-column: 1;
    text-align: center;
}
#email a:hover {
    color: #b51963;
    font-weight: 800;
}
#phone {
    grid-column: 2;
    text-align: center;
}
#linkedin {
    grid-column: 3;
    text-align: center;
}
#linkedin a:hover {
    color: #b51963;
    font-weight: 800;
}
#portfolio {
    grid-column: 4;
    text-align: center;
}
#portfolio a:hover {
    color: #b51963;
    font-weight: 800;
}