body{
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #000000;
    margin: 0;
    line-height: 1.5;
}
.main-content {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#particle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    overflow: hidden;
    z-index: -1;
}
.particle {
    position: absolute;
    width: 3px;
    height: 4px;
    background-color: #d8c19b;
    border-radius: 50%;
    opacity: 0.4;
    animation: float 20s ease infinite;
}
.particle2 {
    position: absolute;
    width: 5px;
    height: 4px;
    background-color: #d8c19b;
    border-radius: 50%;
    opacity: 0.4;
    animation: float2 10s ease infinite;
}
.particle3 {
    position: absolute;
    width: 5px;
    height: 3px;
    background-color: #d8c19b;
    border-radius: 50%;
    opacity: 0.4;
    animation: float3 15s ease infinite;
}
.checkbox-container {
    position: absolute;
    top: 1em;
    right: 2em;
}
input[type="checkbox"] {
    width: auto;
    height: auto;
    margin: 0.5em;
    cursor: pointer;
    z-index: 2;
    position: relative;
}
header { 
    font-size: 150%;
    font-weight: 200;
    text-align: center;
    height: 15%;
}
h1 {
    margin-bottom: 0;
}
header h2 {
    margin-top: .2em;
}
#ash {
    font-family: "Ibarra Real Nova", serif;
    font-optical-sizing: auto;
    text-decoration-line: line-through;
    color: #000000;
}
#ash:hover {
    color: #6524FF;
    font-weight: 150;
}

#nav {
    height: 25%;
    list-style-type: disc;
    text-decoration: none;
    padding: 1em;
}
.mobile-menu {
    display: none;
}
#menuToggle {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    display: none;
}
.active {
    border: #6524FF solid 2px;
    font-weight: 550;
}
li a:hover {
    color: #6524FF;
    border: #6524FF dashed 1px;
    font-weight: 550;
}
li {
    font-size: 150%;
}
li a {
    text-decoration: none;
    color: #000000;
    font-weight: 350;
    padding: 0 1em 0 .5em;
}
li::marker {
    color: #6524FF;
}
main{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
section{
    grid-column: 2;
    font-size: 125%;
    bottom: 0;
    right: 0;
    margin: auto;
}
#bio {
    width: 80%;
}
.project {
    position: relative;
    width: 95%;
    margin: 3em 1em;
    float: right;
}
.project article {
    float: left;
    width: 100%;
}
.project h2 {
    font-size: 85%;
    margin: 1em;
}
.project a {
    text-decoration: none;
    color: #000000;
    font-size: 200%;
    font-weight: 350;
    padding: 0 1em 0 .5em;
}
.project a:hover {
    border: #6524FF dashed 1px;
    font-weight: 550;
    position: relative;
}
.accessibility:hover::after {
    content: url(../images/WebAccessibility.webp);
    display: block;
    position: absolute;
    right: -300px;
    top: 25px;
}
.quotes:hover::after {
    content: url(../images/Quote.webp);
    display: block;
    position: absolute;
    right: -300px;
    top: 25px;
}
.scrollable {
    height: 290px;
    overflow: auto;
}
.scrollable::-webkit-scrollbar {
    width: 7px; 
}
.scrollable::-webkit-scrollbar-thumb {
    background-color: #6524FF;
    border-radius: 10px;
}
.scrollable::-webkit-scrollbar-track {
    background-color: transparent;
}
.invisible {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
article {
float: right;
font-size: 150%;
}
article h2 {
float: left;
}
article h2 a {
text-decoration: none;
color: #6524FF;
font-weight: 350;
padding: 0 1em 0 .5em;
}
#social a{
text-decoration: none;
color: #000000;
font-size: 200%;
font-weight: 350;
padding: 0 1em 0 .5em;
}
#LI {
    margin-left: 15em;
}
#GH {
    margin-left: 10em;
}
#email {
    margin-left: 3em;
}
 #social h3:hover {
 will-change: transition;
  animation: 
    bounce 400ms 
    alternate infinite 
    cubic-bezier(.2, .65, .6, 1) 0.3s;
    animation-iteration-count: 6;
 }
 #social a:hover {
    border: #6524FF dashed 1px;
    font-weight: 550;
 }

aside {
    grid-column: 1;
    position: fixed;
    height: 50%;
    width: 20%;
    margin: 0 2em;
    border-left: #6524FF solid 2px;
    border-bottom: #6524FF solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#headshot {
    border-radius: 50%;
    width: 65%;
    height: auto;
    margin: 2em;
    opacity: 75%;
}
aside h3 {
    font-size: 150%;
    font-weight: 550;
    margin: 1em;
}
#certs {
    list-style: none;
    margin: 2em;
    align-items: right;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 5%;
}
footer p {
    margin-bottom: 0;
}


/** animation keyframes */
@keyframes bounce { /*horizontal bounce */
    from {
      transform: translate(0px);
    }
    to {
      transform: translate(-20px);
    }
  }
  @keyframes bouncey {  /*vertical bounce */
    from {
      transform: translate(0px);
    }
    to {
      transform: translateY(-30px);
    }
  }

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes float {
    0% {
        transform: translateY(0) translateX(0);
    }
    100% {
        transform: translateY(-100vh)   translateX(100vw);
    }
}
@keyframes float2 {
    0% {
        transform: translateY(0) translateX(0);
    }
    100% {
        transform: translateY(100vh)   translateX(-100vw);
    }
}
@keyframes float3 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translate(100vh);
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
@media only screen and (max-width: 949px) {
    body {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr;
        overflow-y: auto;
    }
    .main-content{
        overflow-y: auto;
    }
    .checkbox-container {
        grid-row: 1;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    header {
        grid-row: 2;
        display: grid;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        height: 10vh;
        font-size: 100%;
        float: left;
        margin: 2em 1em;
    }
    header h1 {
        grid-row: 1;
        width: 50%;
    }
    header h2 {
        grid-row: 2;
        width: 75%;
    }
    #nav {
        grid-row: 3;
        display: none;}
    main {
        grid-row: 4;
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin: auto;
        overflow-x: hidden;
    }
    section {
        grid-column: 1;
        width: 100%;
        margin: 2em;
    }
    .project {
        overflow: visible;
        width: 100%;
        margin: 1em;
        height: 50vh;
    }
    .project h2 a {
        font-size: 125%;
    }
    #social {
        height: 25vh;
        width: 90%;
    }
    #social h3 {
        font-size: 100%;
        margin: auto;
    }
    #social a {
        font-size: 125%;
    }
    #headshot {
        width: 25vw;
        border-left: #6524FF solid 2px;
        border-bottom: #6524FF solid 3px;
    }
    aside {
        grid-column: 1;
        position: relative;
        width: 100%;
        margin: 2em;
        padding-top: 3em;
        border: none;
    }
    footer {
        grid-row: 4;
        width: 100%;
        padding-top: 2em;
        height: max-content;
        position: relative;
    } 
    /* Mobile menu styles */
    .mobile-menu {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 2;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ffffff;
    }
    #menuToggle {
        background-color: transparent;
        color: #6524FF;
        font-size: 150%;
        margin: 2em 1em;
        float: right;
        top: 20px;
        border: none;
        display: block;
        cursor: pointer;
    }
    .mobile-menu.active {
        display: flex;
    }
    .mobile-menu a {
        color: #6524FF;
        font-size: 2em;
        margin: 1em 0;
        text-decoration: none;
    }
}

@media only screen and (min-width: 950px) and (max-width: 1200px) {
    section {
        font-size: 100%;
    } 
    .project h2 { 
        font-size: 75%;
    }
    .project a  { 
        font-size: 190%;
    }
}
@media only screen and (max-width: 1340px)  {
    header {
        font-size: 125%;
    }
    li {
        font-size: 125%;
    }
    section {
        font-size: 115%;
    }
    .project a  { 
        font-size: 170%;
    }
    aside h3{
        font-size: 115%;
        margin: 0 1em;
    }
}